<nav class="main-nav">
	{{ $url := replace .Permalink .Site.BaseURL "" }}
	{{ if not .IsHome }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}
	<a href='{{ .Site.BaseURL }}posts'>{{ with .Site.Params.archive }}{{ . }}{{ else }}Archief{{ end }}</a>
	<a href='{{ .Site.BaseURL }}tags'>{{ with .Site.Params.tags }}{{ . }}{{ else }}Onderwerpen{{ end }}</a>
	<a href='{{ .Site.BaseURL }}about'>{{ with .Site.Params.about }}{{ . }}{{ else }}Over{{ end }}</a>
	<!-- <a href='{{ .Site.BaseURL }}links'>{{ with .Site.Params.links }}{{ . }}{{ else }}Links{{ end }}</a> -->

	{{ range $key, $val := .Site.Params.Links }}
		<a href="{{ $val }}">{{ $key }}</a>
	{{ end }}

	{{ if .Site.Params.enableRSS }}
	<a class="cta" href="https://landing.mailerlite.com/webforms/landing/k8y6w5">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}Nieuwsbrief{{ end }}</a>
	{{ end }}
</nav>
